
.content{
	display: flex;
	flex:1;
	min-height: 100vh;
	font-family: 'Roboto';
	align-items: center;
	justify-content: center;
}

.content-column {
	composes: content;
	flex-direction: column;
	justify-content:initial;
}

.box {
	height:920px;
	width: 830px;
	display: flex;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0599808);
	border-radius: 4px;
}

.main-wrapper,
.side-wrapper{
	display: flex;
	/* align-items: center; */
}

.main-wrapper{
	width:60%;
	justify-content: flex-end;
	background: #F9F9F9;
	/* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0599808); */
	border-radius: 4px;

}

.side-wrapper{
	width:40%;
	justify-content: flex-start;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0599808);
}

.side-wrapper-content, 
.main-wrapper-content {
	display: flex;
	flex-direction: column;
	padding: 50px;
	flex:1;
}

.main-wrapper-content {
	padding-top: 50px;
}

.actions{
	padding-top: 50px;
	text-align: right;
}

.select-crypto-text{
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	color: #3F4048;
}

.select-crypto-text-h1{
	composes: select-crypto-text;
	font-size: 26px;
}

.pending-frame{

}

.container {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.row {
	width: auto;
}

.frame{
	background-color: #FFFFFF;
	padding: 50px;
}

.item {

	padding: 5px;
	margin: 10px;
	line-height: 20px;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.text {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #53545A;
}
