.item {
	height: 50px;
	padding-left: 20px;
	display: flex;
	background: #FFFFFF;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
	align-items: center;
	justify-content: space-between;
	color: #53545A;
}

.select-item{
	composes: item;

}

.select-item:hover {
	background-color: lightblue;
}

.select {
	padding: 0;
}

.select-text {
	padding-left: 15px;
}

.change-button {
	border: 0;
	background-color: transparent;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	text-align: right;
	color: #4077C1;
	cursor: pointer;
}

.actions{
	padding-top: 50px;
	text-align: right;
}
.input-wrapper {
	width:100%;
}
.input-with-copy {
	display:flex;
    	justify-content: space-between;
}
.input-wrapper > input  {
	height:34px;
	width:100%;
}

.blue-button {
	height:40px;
	width: 132px;
	display:inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-transform: uppercase;

	background: radial-gradient(100% 100% at 49.7% 100%, #4077C1 0%, #4077C1 100%);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);

	text-decoration: none;
	border:0;
}
